/* 
.form{
    text-align: center;
    justify-content: center;
    background-image: url(..image12.jpg);
}
    
body{
    background-image: url("image12.jpg");
    
}

.linkbox ul li{
    text-decoration: none;
}

.list
{
list-style-type: none;
}

.linkbox{
    text-decoration: none; 
     display: flex;
   justify-content: space-between;
   align-items: center; 
   background-color: rgb(67, 67, 185);
   opacity: .6;
   width: 100%;
   justify-items: flex-end;
   margin-right: 100px;
   text-align: right;
   border-radius: 4px;
   list-style: none;
   
}
.link{
    text-decoration: none;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    float: right;
    
}


.list{
list-style-type: none;

}

.linkbox ul li{
    float: left;
    padding: 25px;
    background-color: rgb(113, 113, 218);
    border-radius: 100px;
    justify-content: space-between;

}

.linkbox ul li a{
    text-decoration: none;
} */

    body{
    background-color: rgb(36, 114, 139);
}



.linkbox ul li{
    float: left;
    padding: 5px;
    background-color: rgb(157, 157, 209);
    border-radius: 100px;
    justify-content: space-between;
    
}

.linkbox ul li a{
    text-decoration: none;
}

.form{
    text-align: center;
    font-size: 25px;
    color: rgb(242, 245, 247);
    width: 45%;
    height: 400px;
}
.he{
    text-align: center;
    font-family: sans-serif;
    font-size: 28px;
    color:ghostwhite;
}
hr{
    color: white;
}
input{
background-color:aliceblue;
color: black;
}
::placeholder{
    color: black;
}
h2{
    font-size: 80%;
}

.spec{
    height: 400px;
    width: 45%;
    display: flex;
    flex-direction: column;
    color: ghostwhite;
}
.main{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#text{
    width: 90%;
    height: 200px;
}

